.tab-container {
  display: flex;
  flex-direction: column;
}

.tab-menu {
  display: flex;
  border-bottom: 1px solid #ccc;
}

.tab-menu-item {
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tab-menu-item:hover {
  background-color: #f0f0f0;
}

.tab-menu-item.active {
  font-weight: bold;
  border-bottom: 2px solid #5eead4;
}

/* do i need it? */
/* .tab-content.hidden {
  display: none;
} */
